<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>Assets.xcassets</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>965753557041-hhbhp5gmlrr3mvmd95q0cca7kncm965i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965753557041-hhbhp5gmlrr3mvmd95q0cca7kncm965i</string>
	<key>API_KEY</key>
	<string>AIzaSyDJIzVoYsQ4_iS7DISy6ySfyHug2ZFjrBg</string>
	<key>GCM_SENDER_ID</key>
	<string>965753557041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bionicapps.instaf4f</string>
	<key>PROJECT_ID</key>
	<string>instaf4f-31463</string>
	<key>STORAGE_BUCKET</key>
	<string>instaf4f-31463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:965753557041:ios:062bbf2fffbe5774</string>
	<key>DATABASE_URL</key>
	<string>https://instaf4f-31463.firebaseio.com</string>
</dict>
</plist>
